@media screen and (max-width: 1000px) {
  .image {
    display: none;
  }

  .text1 h2 {
    font-size: 1.9rem;
    width: 120%;
  }

  .text1 p {
    width: 120%;
  }

  .part1 button {
    width: 15rem;
    padding: 0.6rem 0.2rem;
  }

  .part1 {
    margin-left: 4.2rem !important;
  }

  .phone {
    font-size: 1.3rem !important;
  }
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
  .image {
    display: none;
  }

  .text1 h2 {
    font-size: 1.9rem;
    width: 120%;
  }

  .text1 p {
    width: 100%;
  }

  .part1 button {
    width: 15rem;
    padding: 0.6rem 0.2rem;
  }

  .part1 {
    margin-left: 6rem !important;
  }

  .phone {
    font-size: 1.3rem !important;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1280px) {
  .image {
    padding-left: 10px;
  }

  .h2Part1 h2 {
    font-size: 1.2rem !important;
  }

  .part1 {
    margin-left: 6rem !important;
    margin-right: 4rem !important;
  }

  .image {
    width: 16rem;
  }
}
