@media screen and (min-width: 790px) and (max-width: 100px) {
  .card2 {
    height: 30rem !important;
    background-color: red !important;
  }
}

@media screen and (min-width: 700px) and (max-width: 1280px) {
  .card2 {
    width: 20rem !important;
    justify-content: center !important;
  }
}
